@import './mixin'; // load mixins first!
@import './typography';
@import './color';
@import './hero';
@import './app-button';

/*
 * Base styling
 */
body {
  background-color: $light-cream;
  color: $dark-grey-blue;

  @include large-desktop-breakpoint {
    max-width: 1600px;
    margin: 0 auto;
  }
}

main {
  margin: 0rem 1.5rem;
  min-height: 100vh;

  @include tablet-breakpoint {
    margin: 0rem 2.5rem;
  }

  @include desktop-breakpoint {
    margin: 0rem 5rem;
  }
}
