@import './typography';
@import './color';

/*
 * Device breakpoints
 */
@mixin tablet-breakpoint {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

/*
 * Styling for the hero section of pages
 */
.hero-container {
  border-radius: 0.625rem;
  text-align: center;
  background-color: #a2a2a2;
  margin: 2.5rem 0 7.5rem 0;
  min-height: 31.25rem;
  display: grid;

  /* displays content over image */
  & > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
}

.hero-img {
  border-radius: 0.625rem;
  object-fit: cover;
  height: 100%;
}

.hero-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet-breakpoint {
    max-width: 25rem;
    text-align: left;
    padding-left: 3rem;
  }
}
